<p>
  tasks works!
</p>
<div class="container">
  <div class="row" *ngIf="!editTaskStatus">
    <h3 class="text-center">Register Task</h3>
    <form [formGroup]="RegisterTask" novalidate class="col-sm-6 col-sm-offset-3"
          (ngSubmit)="RegisterTask.valid && onSubmit()">
      <div class="form-group">
        <label class="center-block">Task Title:</label>
        <input type="text" placeholder="Task Title here" class="form-control" formControlName="ttitle">
      </div>
      <div class="form-group">
        <label class="center-block">Task Description:</label>
        <textarea placeholder="Task Description here" class="form-control" formControlName="tdes"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-xs-6"><label class="center-block">Task Status:</label>
          <select formControlName="sts" class="form-control">
            <option value="">-- Select --</option>
            <option value="0">Disable</option>
            <option value="1">Enable</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label class="center-block">Task By:</label>
          <select formControlName="tcreatedBy" class="form-control">
            <option value="">-- Select --</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
            <option value="Visitor">Visitor</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input [ngClass]="{'disabled': !RegisterTask.valid}" type="submit" value="Create Task"
               class="form-control btn btn-block btn-success">
      </div>
    </form>
  </div>
  <div class="row" *ngIf="editTaskStatus">
    <task-edit class="col-xs-12" [taskData]="taskData" (onSubmited)="onSubmited($event)"
               (getMessage)="getMessage($event)"></task-edit>
  </div>
  <div class="row">
    <div class="alert col-xs-12" *ngIf="message" [ngClass]="{'alert-danger': message.error, 'alert-success': !message.error}">
      {{message.message}}
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p>Form value: {{ RegisterTask.value | json }}</p>
    <p>Form value: {{ RegisterTask.status | json }}</p>
  </div>
</div>
-->
<div class="container">
  <table *ngIf="tasks" class="table table-responsive table-stripped table-bordered">
    <tr>
      <th>Sl no</th>
      <th>Task Details</th>
      <th>CreatedBy</th>
      <th>Status</th>
      <th>Task Created At</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let task of tasks; let i = index;">
      <td>{{i+1}}</td>
      <td>
        <a href="tasks" [routerLink]="['/task/' + task.TID]">{{task.ttitle}}</a>
        <p>{{task.tdes}}</p>
      </td>
      <td>{{task.tcreatedBy}}</td>
      <td>{{task.sts}}</td>
      <td>{{task.tcreatedAt}}</td>
      <td><a href="javascript:void(0);" (click)="editTask(i)">Edit</a></td>
      <td><a href="javascript:void(0);" (click)="deleteTask(i)">Delete</a></td>
    </tr>
  </table>
</div>

