<p>
  task-edit works!
</p>
<div class="row"><form *ngIf="editTaskStatus" [formGroup]="editTaskGroup" novalidate class="col-xs-12"
      (ngSubmit)="editTaskGroup.valid && editTaskGroup.touched && onSubmit()">
  <div class="form-group">
    <label class="center-block">Task Title:</label>
    <input type="text" placeholder="Task Title here" class="form-control" formControlName="ttitle">
  </div>
  <div class="form-group">
    <label class="center-block">Task Description:</label>
    <textarea placeholder="Task Description here" class="form-control" formControlName="tdes"></textarea>
  </div>
  <div class="form-group">
    <label class="center-block">Task Status:</label>
    <select formControlName="sts" class="form-control">
      <option value="">-- Select --</option>
      <option value="0">Disable</option>
      <option value="1">Enable</option>
    </select>
  </div>
  <div class="form-group">
    <input [ngClass]="{'disabled': !editTaskGroup.touched}" type="submit" value="Update Task"
           class="form-control btn btn-block btn-success">
  </div>
</form>
</div>
<div class="row">
  <div class="alert col-xs-12" *ngIf="message && message.error" [ngClass]="{'alert-danger': message.error, 'alert-success': !message.error}">
    {{message.message}}
  </div>
</div>
