<p>
  task works!
</p>

<div class="container">
  <table *ngIf="taskData" class="table table-responsive table-stripped table-bordered">
    <tr>
      <th>Task Title</th>
      <th>Task Description</th>
      <th>CreatedBy</th>
      <th>Status</th>
      <th>Task Created At</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>
        <b>{{taskData.ttitle}}</b>
      </td>
      <td>{{taskData.tdes}}</td>
      <td>{{taskData.tcreatedBy}}</td>
      <td>{{taskData.sts}}</td>
      <td>{{taskData.tcreatedAt}}</td>
      <td><a href="javascript:void(0);" (click)="editTask()">Edit</a></td>
      <td><a href="javascript:void(0);" (click)="deleteTask()">Delete</a></td>
    </tr>
  </table>

  <form *ngIf="editTaskStatus" [formGroup]="editTaskGroup" novalidate class="col-sm-6 col-sm-offset-3"
        (ngSubmit)="editTaskGroup.valid && editTaskGroup.touched && onSubmit()">
    <div class="form-group">
      <label class="center-block">Task Title:</label>
      <input type="text" placeholder="Task Title here" class="form-control" formControlName="ttitle">
    </div>
    <div class="form-group">
      <label class="center-block">Task Description:</label>
      <textarea placeholder="Task Description here" class="form-control" formControlName="tdes"></textarea>
    </div>
    <div class="form-group">
      <label class="center-block">Task Status:</label>
      <select formControlName="sts" class="form-control">
        <option value="">-- Select --</option>
        <option value="0">Disable</option>
        <option value="1">Enable</option>
      </select>
    </div>
    <div class="form-group">
      <input [ngClass]="{'disabled': !editTaskGroup.touched}" type="submit" value="Login"
             class="form-control btn btn-block btn-success">
    </div>
  </form>
  <div class="alert" *ngIf="message" [ngClass]="{'alert-danger': message.error, 'alert-success': !message.error}">
    {{message.message}}
  </div>

</div>
