<div class="container-fluid">
<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Dashboard</a>
  <a href="/login" routerLink="/login" routerLinkActive="active">login</a>
  <a routerLink="/register" routerLinkActive="active">register</a>
  <a routerLink="/users" routerLinkActive="active">users</a>
  <a routerLink="/tasks" routerLinkActive="active">tasks</a>
  <a routerLink="/tasks/hero" routerLinkActive="active">task</a>
</nav>
<router-outlet></router-outlet>
<!--
<register></register>
<home></home>
<login></login>
<users></users>
<tasks></tasks>
-->
</div>
