<p>
  login works!
</p>
<h3 class="text-center">Login Form</h3>
<form [formGroup]="loginForm" novalidate class="col-sm-6 col-sm-offset-3"
      (ngSubmit)="loginForm.valid && onSubmit($event)">
  <div class="form-group">
    <label class="center-block">Email:
      <input type="email" class="form-control" formControlName="email">
    </label>
    <label class="center-block">Password:
      <input type="password" class="form-control" formControlName="password">
    </label>
    <input [ngClass]="{'disabled': !loginForm.valid}" type="submit" value="Login"
           class="form-control btn btn-block btn-success">
  </div>
</form>
<div class="row">
  <div class="alert" *ngIf="message" [ngClass]="{'alert-danger': message.error, 'alert-success': !message.error}">
    {{message.message}}
  </div>
</div>
