<p>
  users works!
</p>
<div class="container">
  <div class="alert" *ngIf="message" [ngClass]="{'alert-danger': message.error, 'alert-success': !message.error}">
    {{message.message}}
  </div>

  <button (click)="getUsers();" class="btn btn-success">Get Users</button>

  <table *ngIf="users" class="table table-responsive table-stripped table-bordered">
    <tr>
      <th>Sl no</th>
      <th>Name</th>
      <th>Email</th>
      <th>UID</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let user of users; let i = index;">
      <th>{{i+1}}</th>
      <th>{{user.name}}</th>
      <th>{{user.email}}</th>
      <th>{{user.UID}}</th>
      <th><a href="javascript:void(0);" (click)="updateUser(i)">Edit</a></th>
      <th><a href="javascript:void(0);" (click)="deleteUser(i)">Delete</a></th>
    </tr>
  </table>
</div>
